 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset text-center">
                    <p>I have been in this business for a long time (17 years) and I’ve seen a lot of clients and companies come and go. The ones that stay strong and tough it out no matter what (succeed or fail) are the ones that thrive and continue on. I am one of those survivors! My 17 year year background of successes and failures has given me the skills and mindset to overcome any challenge put before me. I succeed by staying true and loyal to my clients, by always striving to give them my 110%.</p>
                    <p>I’ve worked with small, medium, large, local, national and international companies throughout my career.  I always go into each one with the mindset of the customer. What do they want to succeed on the web and how do I get them there. I build websites for growth and continuous success and I position myself at the top of my field by always having the desire to learn new technologies and grow my knowledge in the industry.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/portfolio/img/Brent-Hackman-Resume-2019.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
